
<!DOCTYPE html>
<html>
  <head>
  <title>Vault Master</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>


  <body>


    <ul class="list-inline nav-links">
      <li><a href="/index"><b>Home</b></a></li>
      <li><a href="/mainpage" class="active"><b>Passwords</b></a></li>
      <li><a href="/signup"><b>Sign Up</b></a></li>
    </ul>

    
        <button data-toggle="modal" data-target="#popupList" type="button" class="btn-default btn-lg">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <div class="modal fade" id="popupList">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <div class="close-btn">
                    <button type="button" class="btn btn close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                    </div>
                </div>
                    <!-- body(form) -->
                    <div class="modal-body">
                        <h2>Password Information:</h2>
                        <form action="/">   
                        <div class="form-content">
                        <input id="NOW" type="text" class="form-control" name="website" placeholder="Name of Website">
                        </div>
                        <div class="form-content">
                        <input id="userInput" type="text" class="form-control" name="user" placeholder="Username">
                        </div>
                        <div class="form-content">
                        <input id="pwdInput" type="password" class="form-control" name="pwd" placeholder="Password">
                        </div>
                    
        
                        <!-- button to submit -->
                        <div class="modal-footer">
                            <div class="submit-btn">
                            <button class="btn btn-block">Submit</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <style>

    body {
        background-image: url("https://img00.deviantart.net/5a7a/i/2013/213/8/b/2560x1600_by_endosage-d6g6jvq.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    </style>

<script src="main.js"></script>
 </body>
</html>