<!-- second page setup
 -->
<!DOCTYPE html>
<html>
<head>
	  <meta charset="UTF-8">
    <title>title</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>

</body>
</html>