<!DOCTYPE html>
<html>
<head>
	<title> New User</title>
</head>
<body>
	
		<ol>
			<% user.forEach(function(newUser){ %>
				<li>
					<ul>
						<li><%= newUser.fname %> </li>
						<li><%=newUser.lname%> </li>
						<li><%=newUser.email %></li>
					</ul>
			</li>
		</ol>
	<% }) %>
	 
</body>
</html>